<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">
			<title>토이저러스</title>
			<link rel ="stylesheet" href = "/css/Wonmo.css">
			<script src="https://kit.fontawesome.com/9b58802993.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			header가 들어갈 영역입니다.
		</header>
			<main class="contentArea">
				<div class="productWrap">
					<div class="productTopContents" id="info">
						<div class="prodectVisualWrap">
							<div class="swiper-wrapper">
								<div class="sideImgWrap">
									<img data-v-02fae411="" src="https://contents.lotteon.com/itemimage/_v084848/LM/88/09/35/19/20/36/2_/00/1/LM8809351920362_001_1.jpg/dims/resizef/67x67" alt="[사전예약] 슈퍼마리오 20인치 자이언트" class="sideImg">
								</div>
							</div>
							<div class="mainImgWrap">
								<div class="mainImgBC"></div>
								<img data-v-02fae411="" src="https://contents.lotteon.com/itemimage/_v084848/LM/88/09/35/19/20/36/2_/00/1/LM8809351920362_001_1.jpg/dims/resizef/554X554" alt="[사전예약] 슈퍼마리오 20인치 자이언트" class="mainImg">
							</div>
						</div>
						<div class="productDetailTop">
							<div class="productTitle">
								<div class="productNameLine">
									<h4 class="productName">슈퍼마리오 20인치 자이언트</h4>
									<div class="util-float">
										<a href="#" 
										style="width: 31px; margin-bottom: 10px; text-decoration: none;" 
										class="fa-solid fa-heart">
										</a>
										<a href="#" 
										style="width: 28px;  text-decoration: none;" 
										class="fa-solid fa-share-nodes"></a>
									</div>
									<div class="productReview">
										<div class="grade">
											<div class="starBox">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
											</div>
												<span>&nbsp4.9</span>
												<span>&nbsp&nbsp24건</span>
										</div>
										<span class="monthlyPurchase">월간구매 17</span>
										<a href="#" class="appButton">APP으로 보기</a>
									</div>
								</div>
							</div>
							<div class="priceWrap">
								<div class="priceInfo">
									<span style="font-size:30px;font-family: 'Noto Sans KR', sans-serif; font-weight: 600">63,900</span>
									<span style="font-size:24px;font-family: 'Noto Sans KR', sans-serif; position: absolute; top: 5px; left: 102px;">원</span>
								</div>
								<div class="applyBenefit">
									<span style="font-size:16px;font-family: 'Noto Sans KR', sans-serif;margin-top: 8px;">주문 시 적용되는 할인을 확인하세요</span>
									<button class="btnApplyBenefit">
										<span>혜택보기</span>
									</button>
								</div>
								<button onclick="location.href='#'" class="lotteOnersBanner">
									<span style="padding-left: 7px;font-weight:bold;font-size: 14px;">롯데오너스</span>
									<span style="font-weight:400;font-size: 13px;">무료배송 · 추가 0.5% 적립</span>
									<span style="margin-left: 180px"><a style="text-decoration: none;" href="#">》</a></span>
								</button>
							</div>
							<div class="optionContent">
								<div class="priceOptionWrap">
									<div class="priceOptionBox">
										<span style="font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color: #757575">
   										1일 동안 최대 15개 구매 가능</span>
    										<div class="price">
    											<span class="price-num">63,900</span>
												<span class="price-won">원</span>
    										</div>
									</div>
								</div>
								
							</div>
							<div class="buttonGroup">
								<button class="giftButton">
									<span>선물하기</span>
								</button>
								<button class="cartButton">
									<span>장바구니 담기</span>
								</button>
								<button class="buyButton">
									<span>바로 구매하기</span>
								</button>
							</div>
							<div class="purchaseInfoBox">
								<div class="purchaseInfoBoxContent">
									<span style="color: #4185ED">오늘 14:50~18:30 도착 예정</span>
									<span>-당일배송</span>
									<a href="#" class="moreImfomationBtn">더보기</a>
									<span><a style="text-decoration: none;" href="#">》</a></span>
									<p style="margin-top: 0px;">3,000원(혜택가 4만원 이상 구매 시 무료)</p>
									<p>선물하기 상품은 택배로 배송됩니다.</p>
									<span>스마트픽</span>
									<span><a style="text-decoration: none;" href="#">》</a></span>
								</div>
							</div>
							
							<div class="purchaseInfoBox-cardBenefit">
								<div class="cardBenefitContent">
									<span class="cardBenefitText">결재혜택&nbsp&nbsp&nbsp&nbsp무이자 할부 안내</span>
									<a href="#" class="moreImfomationBtn">더보기</a>
								</div>
							</div>
							<div class="purchaseInfoBox-savingBenefit">
								<div class=savingBenefitContent>
									<span class="cardBenefitText">적립혜택&nbsp&nbsp&nbsp&nbspL.POINT 최대 63P</span>
									<a href="#" class="moreImfomationBtn">더보기</a>
								</div>
							</div>
							<div class="seller-buttonWrap">
								<div class="seller-info">
									<img data-v-289445aa="" src="https://contents.lotteon.com/product/sellerimg/bi-toysrus.png" alt="seller profile" class="seller-infoImg">
									<span class="seller-infoText">토이저러스</span>
									<button class="seller-infoBtn">
										<p class="seller-infoBtnText">문의하기</p>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="reviewWrap">
						<div class="util">
							<span class="utilNum1">리뷰</span>
							<span class="utilNum2">( n )</span>
							<div class="reviewSearchArea">
								<input class="search" type="search" placeholder="궁금한 점을 찾아보세요." onfocus="this.placeholder=''" onblur="this.placeholder='궁금한 점을 찾아보세요.'">
							</div>
							
						</div>
						<div class="cores">
							<div class="staring">
								<span class="coresStars">
									<img class="star_img_re" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
									<img class="star_img_re" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
									<img class="star_img_re" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
									<img class="star_img_re" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
									<img class="star_img_re" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
								</span>
								<span class="star_score1">
									4.9
								</span>
								<span class="star_score2">
									/ 5
								</span>
							</div>
							<span class="">
								
							</span>
						</div>
						<ul class="thumbnail">
						
						</ul>
						<div class="info">
							<span class="total_re">
								총 n건
							</span>
							
						</div>
						<div class="reviewList">
							<p class="userName">
								toysrusUser1
							</p>
							<p class="mainReview">
								댓글 내용이 들어갈 자리입니다. ---------------------------------------------------------------------------------------------------------
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>댓글 내용이 들어갈 자리입니다. ---------------------------------------------------------------------------------------------------------
							</p>
							<div class="underAction">
								<button class="fa-regular fa-comment" style="outline: 0; border: 0; background-color: white;"></button>
							</div>
						</div>
					</div>
				</div>
			</main>
		<footer>
			footer가 들어갈 영역입니다.
	</footer>	
	
	</body>
</html>