<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">
			<title>토이저러스</title>
			<link rel ="stylesheet" href = "/css/Wonmo.css">
	</head>
	<body>
		<a href="/index2">ㅇ</a>
		<header>
			header가 들어갈 영역입니다.
		</header>
			<main class="contentArea">
				<div class="productWrap">
					<div class="productTopContents" id="info">
						<div class="prodectVisualWrap">
							<div class="swiper-wrapper">
								<div class="sideImgWrap">
									<img data-v-02fae411="" src="https://contents.lotteon.com/itemimage/_v084848/LM/88/09/35/19/20/36/2_/00/1/LM8809351920362_001_1.jpg/dims/resizef/67x67" alt="[사전예약] 슈퍼마리오 20인치 자이언트" class="sideImg">
								</div>
							</div>
							<div class="mainImgWrap">
								<img data-v-02fae411="" src="https://contents.lotteon.com/itemimage/_v084848/LM/88/09/35/19/20/36/2_/00/1/LM8809351920362_001_1.jpg/dims/resizef/554X554" alt="[사전예약] 슈퍼마리오 20인치 자이언트" style="width: 100%; height: 100%;" class="mainImg">
							</div>
							
						</div>
						<div class="productDetailTop">
							<div class="productTitle">
								<div class="productNameLine">
									<h4 class="productName">슈퍼마리오 20인치 자이언트</h4>
									<div class="util-float">
									</div>
									<div class="productReview">
										<div class="grade">
											<!-- <span class="starBox">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
											</span> -->
										</div>
									</div>
								</div>
							</div>
							<div class="priceWrap">
								<div class="priceInfo">
								
								</div>
								<div class="applyBenefit">
									<p></p>
									<button></button>
								</div>
								<div class="lotteOnersBanner">
								
								</div>
							</div>
							<div class="optionContent">
								<div class="optionWrap-withLabel">
									<div class="selectResult">
								
									</div>
								</div>
								<div class="priceOptionBox">
									<div class="limit-info">
									
									</div>
									<div class="price">
										
									</div>
								</div>
							</div>
							<div class="mainButton">
							
							</div>
							<div class="purchaseInfoBox">
								<div class="purchaseInfoBoxContent">
								
								</div>
							</div>
							<div class="purchaseInfoBox-cardBenefit">
								<div class=cardBenefitContent>
								
								</div>
							</div>
							<div class="purchaseInfoBox-savingBenefit">
								<div class=savingBenefitContent>
								
								</div>
								<div class="seller-buttonWrap">
									<div class="seller-info">
									
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="detail">
					
					</div>
				</div>
			</main>
		<footer>
			footer가 들어갈 영역입니다.
	</footer>	
		
	</body>
</html>