<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">
			<title>토이저러스</title>
			<link rel ="stylesheet" href = "/css/index2.css">
	</head>
	<body>
	
    	<header>
			header가 들어갈 영역입니다.
		</header>
			<main class="contentArea" id="info">
				<div class="productWrap">
					<div class="productTopContents" id="info">
						<div class="left">
						
						</div>
						<div class="right">
						
						</div>
					</div>
					<div class="lowContents" id="detail">
					
					</div>
				</div>
			</main>
</body>
</html>