<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">
			<title>토이저러스</title>
			<link rel ="stylesheet" href = "/css/Wonmo.css">
	</head>
	<body>
		<a href="/index2">ㅇ</a>
		<header>
			header가 들어갈 영역입니다.
		</header>
			<main class="contentArea">
				<div class="productWrap">
					<div class="productTopContents" id="info">
						<div class="prodectVisualWrap">
							<div class="swiper-wrapper">
								<div class="sideImgWrap">
									<img data-v-02fae411="" src="https://contents.lotteon.com/itemimage/_v084848/LM/88/09/35/19/20/36/2_/00/1/LM8809351920362_001_1.jpg/dims/resizef/67x67" alt="[사전예약] 슈퍼마리오 20인치 자이언트" class="sideImg">
								</div>
							</div>
							<div class="mainImgWrap">
								<img data-v-02fae411="" src="https://contents.lotteon.com/itemimage/_v084848/LM/88/09/35/19/20/36/2_/00/1/LM8809351920362_001_1.jpg/dims/resizef/554X554" alt="[사전예약] 슈퍼마리오 20인치 자이언트" style="width: 100%; height: 100%;" class="mainImg">
							</div>
							
						</div>
						<div class="productDetailTop">
							<div class="productTitle">
								<div class="productNameLine">
									<h4 class="productName">슈퍼마리오 20인치 자이언트</h4>
									<div class="util-float">
									</div>
									<div class="productReview">
										<div class="grade">
											<div class="starBox">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
												<img class="star_img" src="https://static.lotteon.com/p/product/assets/img/icon_star_full.svg" alt="">
											</div>
												<span>&nbsp4.9</span>
												<span>&nbsp&nbsp24건</span>
										</div>
										<span class="monthlyPurchase">월간구매 17</span>
										<button class="appButton">
											<span>APP으로 보기</span>
										</button>
									</div>
								</div>
							</div>
							<div class="priceWrap">
								<div class="priceInfo">
									<span style="font-size:30px;font-family: 'Noto Sans KR', sans-serif;">63,900</span>
									<span style="font-size:20px;font-family: 'Noto Sans KR', sans-serif;">원</span>
								</div>
								<div class="applyBenefit">
									<span style="font-size:16px;font-family: 'Noto Sans KR', sans-serif;margin-top: 8px;">주문 시 적용되는 할인을 확인하세요</span>
									<button class="btnApplyBenefit">
										<span>혜택보기</span>
									</button>
								</div>
								<button type="button" onclick="location.href='#'" class="lotteOnersBanner">
									<span style="padding-left: 7px;font-weight:bold;font-size: 14px;">롯데오너스</span>
									<span style="font-weight:400;font-size: 13px;">무료배송 · 추가 0.5% 적립</span>
								</button>
							</div>
							<div class="optionContent">
								<div class="priceOptionWrap">
									<div class="priceOptionBox">
										<span style="font-family: 'Noto Sans KR', sans-serif; font-size: 14px;">
   										1일 동안 최대 15개 구매 가능</span>
    										<div class="price">
    											<span class="price-num">63,900</span>
												<span class="price-won">원</span>
    										</div>
									</div>
								</div>
								
							</div>
							<div class="buttonGroup">
								<button class="giftButton">
									<span></span>
								</button>
								<button class="cartButton">
									<span></span>
								</button>
								<button class="buyButton">
									<span></span>
								</button>
							</div>
							<div class="purchaseInfoBox">
								<div class="purchaseInfoBoxContent">
									<span>오늘 14:50~18:30 도착 예정</span>
									<span>-당일배송</span>
									
								</div>
							</div>
							
							<div class="purchaseInfoBox-cardBenefit">
								<div class="cardBenefitContent">
									<span class="cardBenefitText">결재혜택&nbsp&nbsp&nbsp&nbsp무이자 할부 안내</span>
									<a href="#" class="moreImfomationBtn">더보기</a>
								</div>
							</div>
							<div class="purchaseInfoBox-savingBenefit">
								<div class=savingBenefitContent>
									<span class="cardBenefitText">적립혜택&nbsp&nbsp&nbsp&nbspL.POINT 최대 63P</span>
									<a href="#" class="moreImfomationBtn">더보기</a>
								</div>
							</div>
							<div class="seller-buttonWrap">
								<div class="seller-info">
									<img data-v-289445aa="" src="https://contents.lotteon.com/product/sellerimg/bi-toysrus.png" alt="seller profile" class="seller-infoImg">
									<span class="seller-infoText">토이저러스</span>
								</div>
							</div>
						</div>
					</div>
					<div id="detail">
					
					</div>
				</div>
			</main>
		<footer>
			footer가 들어갈 영역입니다.
	</footer>	
		
	</body>
</html>