@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.contentArea{
	width: 1140px;
	height: 8349px;
	padding: 45px 0 120px;
	margin: auto;
	background-color: #999;
}
.productWrap{
	width: 1140px;
	height: 8184px;
}
.productTopContents{
	width: 1140px;
	height: 957px;
	background-color: #888;
}
.prodectVisualWrap{
	width: 642px;
	height: 555px;
	background-color: #777;
	display: inline-block;
	position: relative;
}
.swiper-wrapper{
	width: 69px;
	height: 385px;
	background-color: #666;
	float:left;
}
.sideImgWrap{
	width: 67px;
	height: 67px;
}
.sideImg{
	border-radius: 10%;
	border: 1px solid black;
}
.mainImgWrap{
	width: 554px;
	height: 554px;
	background-color: #555;
	float: right;
	border-radius: 10px;
}
.mainImg{
	width: 554px;
	height: 554px;
	border-radius: 10px;
}
.productDetailTop{
	width: 438px;
	height: 957px;
	background-color: #444;
	float: right;
}
.productTitle{
	width: 438px;
	height: 84px;
	background-color: #333;
	padding-bottom: 12px;
}
.productNameLine{
	width: 438px;
	height: 38px;
	font-size: 28px;
	font-family: 'Noto Sans KR', sans-serif;
	display: inline-block;
	margin-top: 22px;
	position: relative;
}
.productName{
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}
.util-float{
	width: 66px;
	height: 28px;
	background-color: #357;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.productReview{
	width: 438px;
	height: 22px;
	background-color: #468;
	padding-top: 10px;
	display: flex;
	position: relative;
	border-bottom: solid 1px;
}
.grade{
	width: 141px;
	height: 22px;
	background-color: #259;
	font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
}
.starBox{
	width: 80px;
	height: 15px;
	display: flex;
	padding-top: 1.3px;
	
}
.star_img{
	width: 15px;
	height: 15px;
	bottom: 2px;
}
.monthlyPurchase{
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}
.appButton{
	width: 96px;
	height: 20px;
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    position: absolute;
    right: 0px;
    cursor:pointer;
}
.priceWrap{
	width: 438px;
	height: 145px;
	background-color: #173;
	border-bottom: solid 1px;
}
.priceInfo{
	width: 438px;
	height: 36px;
}
.applyBenefit{
	width: 438px;
	height: 38px;
	position: relative;
}
.btnApplyBenefit{
	width: 113px;
	height: 36px;
	border-radius: 6px;
	position: absolute;
	right: 0px;
	cursor:pointer;
	bottom: 7px;
}
.lotteOnersBanner{
	width: 438px;
	height: 48px;
	border-radius: 5px;
	list-style: solid 0px;
	border: 0;
	outline: 0;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    cursor:pointer;
}
.optionContent{
	width: 438px;
	height: 128px;
	position: relative;
}
.priceOptionWrap{
	width: 438px;
	height: 98px;
	background-color: #296;
	border-radius: 5px;
	position: absolute;
	top: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.priceOptionBox{
	width: 398px;
	height: 60px;
	position: relative;
}
.price{
	width: 398px;
	height: 32px;
	position: absolute;
	bottom: 0;
}
.price-num{
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 15px;
}
.price-won{
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
   	position: absolute;
	right: 0px;
	top: 4px;
}

.selectResult{
	width: 438px;
	height: 64px;
}
.limit-info{
	width: 398px;
	height: 20px;
}
.price{
	width: 398px;
	height: 32px;
}
.buttonGroup{
	width: 438px;
	height: 74px;
	background-color: #589;
}
.giftButton{
	width: 108px;
	height: 52px;
	border-radius: 5px;
	cursor:pointer;
	border: 1px solid purple;
}
.cartButton{
	width: 157px;
	height: 52px;
	border-radius: 5px;
	cursor:pointer;
	border: 1px solid purple;
}
.buyButton{
	width: 155px;
	height: 52px;
	border-radius: 5px;
	cursor:pointer;
	background-color: purple;
	border: 1px solid black;
}
.purchaseInfoBox{
	width: 438px;
	height: 143px;
	border-top: solid 1px;
	border-bottom: solid 1px;
	position: relative;
}
.purchaseInfoBoxContent{
	width: 319px;
	height: 76px;
}
.purchaseInfoBox-cardBenefit{
	width: 438px;
	height: 62px;
	border-bottom: solid 1px;
	display: flex;
	align-items: center;
}
.cardBenefitContent{
	width: 438px;
	height: 23px;
	background-color: #387;
	position: relative;
}
.cardBenefitText{
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}
.purchaseInfoBox-savingBenefit{
	width: 438px;
	height: 62px;
	border-bottom: solid 1px;
	display: flex;
	align-items: center;
}
.savingBenefitContent{
	width: 438px;
	height: 23px;
	background-color: #685;
	position: relative;
}
.savingBenefitText{
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}
 .seller-buttonWrap{
	width: 438px;
	height: 76px;
	display: flex;
	align-items: center;
}
.seller-info{
	width: 438px;
	height: 36px;
	background-color: #917;
	position: relative;
}
.seller-infoImg{
	width: 36px;
	height: 36px;
}
.seller-infoText{
	position: absolute;
	left: 47px;
	bottom: 8px;
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
 














.moreImfomationBtn{
	position: absolute;
	right: 0px;
	top: 3px;
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    color: black;
}





